.order-form__box {
  margin-bottom: 10px;
}

.order-form__label {
  display: block;
  margin-bottom: 4px;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;

  color: $secondaryTxtColor;
}

.order-form__input-wrap {
  position: relative;
  display: block;
  margin: 0;
}

.order-form__input {
  width: 100%;
  height: 40px;
  padding: 12px 16px 12px 42px;

  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;

  transition: border $durationTime $timingFunction;

  &:hover,
  &:focus {
    outline: none;
    border: 1px solid $accentColor;
  }
}

.order-form__icon {
  position: absolute;
  top: 11px;
  left: 12px;

  transform: fill $durationTime $timingFunction;

  .order-form__input:hover + &,
  .order-form__input:focus + & {
    fill: $accentColor;
  }
}

.order-form__textarea {
  width: 100%;
  height: 120px;
  margin-top: 4px;
  margin-bottom: 20px;
  padding: 12px 16px;
  resize: none;
  overflow: auto;

  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;

  transition: border $durationTime $timingFunction;

  &:hover,
  &:focus {
    outline: none;
    border: 1px solid $accentColor;
  }

  &::placeholder {
    font-size: 12px;
    line-height: 1.16;
    letter-spacing: 0.01em;

    color: rgba(117, 117, 117, 0.5);
  }
}

.policy {
  display: flex;
  align-items: center;
  font-size: 8px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  color: $secondaryTxtColor;

  &__link {
    color: $accentColor;
  }

  &__icon {
    display: inline-block;
    margin-right: 7px;
    border: 2px solid black;
    border-radius: 2px;
    width: 16px;
    height: 15px;

    transition: background-color $durationTime $timingFunction,
      border-color $durationTime $timingFunction;
  }

  @media screen and (min-width: 480px) {
    font-size: 12px;
  }

  @media screen and (min-width: 1200px) {
    font-size: 14px;
    line-height: 1.7;
  }
}

.policy__checkbox:checked + .policy__icon {
  background-color: $accentColor;
  border-color: v$accentColor;
  background-image: url(../images/iconcheck.svg);
  background-origin: border-box;
}

.policy__checkbox:focus + .policy__icon {
  border-color: $accentColor;
}

.order-form__button {
  display: block;
  margin: 30px auto 0;
}
