// .header {
//   border-bottom: 1px solid #ececec;

//   // &__box {
//   //   display: flex;
//   //   align-items: center;
//   // }
// }

// .header-contacts {
//   display: flex;
//   margin-left: auto;

//   &__item:not(:last-child) {
//     margin-right: 50px;
//   }

//   &__icon {
//     margin-right: 10px;
//     fill: currentColor;
//   }
// }

// .header-contacts__link {
//   display: flex;
//   align-items: center;

//   font-weight: 500;
//   font-size: 14px;
//   line-height: 1.14;
//   letter-spacing: 0.02em;
//   color: $secondaryTxtColor;
//   text-decoration: none;

//   transition: color $durationTime $timingFunction;

//   &:hover,
//   &:focus {
//     color: $accentColor;
//   }
// }

.header {
  border-bottom: 1px solid #ececec;
  position: relative;
}

.menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 16px;
  padding-bottom: 16px;

  &__icon {
    fill: currentColor;
  }

  @media screen and (min-width: 768px) {
    justify-content: start;
    padding: 0;
  }
}

.menu__button {
  display: inline-flex;
  margin: 0;
  padding: 0;
  border: none;
  background-color: transparent;

  transition: color $durationTime $timingFunction;

  &:hover,
  &:focus {
    color: $accentColor;
  }

  @media screen and (min-width: 768px) {
    display: none;
  }
}

.menu-container {
  @media screen and (max-width: 767px) {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    padding-top: 48px;
    padding-bottom: 48px;
    padding-right: 40px;
    padding-left: 40px;
    background-color: $bgColor;

    &.is-open {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
    }
  }

  @media screen and (min-width: 768px) {
    display: flex;
    align-items: center;
    width: 100%;
  }
}

.menu-container__close-button {
  display: inline-flex;
  position: absolute;
  top: 10px;
  right: 15px;
  margin: 0;
  padding: 0;
  background-color: transparent;
  border: none;

  transition: color $durationTime $timingFunction;

  &:hover,
  &:focus {
    color: $accentColor;
  }

  &__close-icon {
    fill: currentColor;
  }

  @media screen and (min-width: 768px) {
    display: none;
  }
}

.nav {
  @media screen and (min-width: 768px) {
    display: flex;
    margin-left: 88px;
  }
}

.nav__item:not(:last-child) {
  margin-bottom: 20px;

  @media screen and (min-width: 480px) {
    margin-bottom: 32px;
  }

  @media screen and (min-width: 768px) {
    margin-bottom: 0;
    margin-right: 50px;
  }
}

.nav__link {
  display: inline-block;

  font-weight: 500;
  font-size: 24px;
  line-height: 1.17;
  letter-spacing: 0.02em;
  color: $mainTxtColor;

  text-decoration: none;

  @media screen and (min-width: 480px) {
    font-size: 40px;
  }

  @media screen and (min-width: 768px) {
    padding-top: 32px;
    padding-bottom: 32px;
    font-size: 14px;
    line-height: 1.14;

    transition: color $durationTime $timingFunction;

    &:hover,
    &:focus {
      color: $accentColor;
    }
  }
}

.nav__link--current {
  color: $accentColor;

  @media screen and (min-width: 768px) {
    position: relative;

    &::after {
      content: '';
      position: absolute;
      left: 0;
      bottom: -1px;
      width: 100%;
      height: 4px;
      background-color: $accentColor;
      border-radius: 2px;
    }
  }
}

.header-contacts {
  display: flex;
  flex-direction: column-reverse;

  @media screen and (min-width: 768px) {
    flex-direction: column;
    margin-left: auto;
  }

  &__icon {
    @media screen and (max-width: 767px) {
      display: none;
    }

    @media screen and (min-width: 768px) {
      margin-right: 10px;
      fill: currentColor;
    }
  }

  &__item {
    margin-bottom: 20px;

    @media screen and (min-width: 480px) {
      margin-bottom: 32px;
    }

    @media screen and (min-width: 768px) {
      margin-bottom: 10px;
    }
  }
}

.contacts-box {
  @media screen and (min-width: 768px) {
    margin-left: auto;
  }
}

.header-contacts__link {
  font-weight: 500;
  line-height: 1.17;
  letter-spacing: 0.02em;
  text-decoration: none;

  &--email {
    font-size: 16px;
    color: $secondaryTxtColor;

    @media screen and (min-width: 480px) {
      font-size: 24px;
    }
  }

  &--phone {
    font-size: 20px;
    color: $accentColor;

    @media screen and (min-width: 480px) {
      font-size: 34px;
    }
  }

  @media screen and (min-width: 768px) {
    display: flex;
    align-items: center;
    font-size: 14px;
    line-height: 1.14;
    color: $secondaryTxtColor;

    transition: color $durationTime $timingFunction;

    &:hover,
    &:focus {
      color: $accentColor;
    }
  }
}

.menu-social {
  display: flex;
  padding: 0;
  margin-top: 20px;
  margin-bottom: 0;

  @media screen and (min-width: 480px) {
    margin-top: 32px;
  }

  @media screen and (min-width: 768px) {
    display: none;
  }
}

.menu-social__link {
  display: block;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.22;
  letter-spacing: 0.02em;
  color: $accentColor;
  text-decoration: none;

  @media screen and (min-width: 480px) {
    font-size: 18px;
  }
}

.menu-social__link:not(:last-child)::after {
  content: '|';
  color: rgba(33, 33, 33, 0.2);
  margin-right: 7px;
  margin-left: 7px;

  @media screen and (min-width: 480px) {
    margin-right: 10px;
    margin-left: 10px;
  }
}
