.logo {
  font-family: Raleway;
  font-weight: 700;
  font-size: 24px;
  line-height: 1.16;
  letter-spacing: 0.03em;
  color: $accentColor;
  text-decoration: none;

  @media screen and (min-width: $--desktop) {
    font-size: 26px;
    line-height: 1.19;
  }
}

.logo__part {
  color: #000000;
}
