.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  padding-top: 93px;
  padding-right: 15px;
  padding-left: 15px;
  width: 100%;
  height: 100%;
  overflow-y: scroll;
  background-color: rgba(0, 0, 0, 0.2);

  opacity: 1;
  transition: opacity $durationTime $timingFunction, visibility $durationTime $timingFunction;
}

.backdrop.is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}

.modal {
  position: relative;
  max-width: 450px;
  margin: 0 auto;
  padding: 40px 18px;

  background-color: $bgColor;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;

  transform: scale(1);
  transition: transform $durationTime $timingFunction;

  @media screen and (min-width: 480px) {
    padding: 40px;
  }

  @media screen and (min-width: 1200px) {
    position: absolute;
    top: 50%;
    left: 50%;
    max-width: 528px;
    min-height: 581px;

    transform: translate(-50%, -50%) scale(1);
  }
}

.backdrop.is-hidden .modal {
  transform: scale(1);
  transition: transform $durationTime $timingFunction;

  @media screen and (min-width: 1200px) {
    transform: translate(-50%, -50%) scale(0.9);
  }
}

.modal__close-button {
  position: absolute;
  top: 8px;
  right: 8px;
  cursor: pointer;

  @extend %centeredFlex;

  width: 30px;
  height: 30px;
  background-color: $bgColor;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;

  transition: color $durationTime $timingFunction;

  &:hover,
  &:focus {
    color: $accentColor;
  }
}

.modal__close-icon {
  fill: currentColor;
}

.modal__title {
  margin-bottom: 12px;

  font-weight: 700;
  font-size: 20px;
  line-height: 1.5;
  text-align: center;
  letter-spacing: 0.03em;

  color: $mainTitleColor;

  @media screen and (min-width: 1200px) {
    line-height: 1.15;
  }
}
