.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);

  opacity: 1;
  transition: opacity $durationTime $timingFunction, visibility $durationTime $timingFunction;
}

.backdrop.is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 528px;
  min-height: 581px;
  padding: 40px;

  background-color: $bgColor;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;

  transform: translate(-50%, -50%) scale(1);
  transition: transform $durationTime $timingFunction;
}

.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scale(0.9);
  transition: transform $durationTime $timingFunction;
}

.modal__close-button {
  position: absolute;
  top: 8px;
  right: 8px;
  cursor: pointer;

  @extend %centeredFlex;

  width: 30px;
  height: 30px;
  background-color: $bgColor;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;

  transition: color $durationTime $timingFunction;

  &:hover,
  &:focus {
    color: $accentColor;
  }
}

.modal__close-icon {
  fill: currentColor;
}

.modal__title {
  margin-bottom: 12px;

  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;

  color: $mainTitleColor;
}
