// .nav__list {
//   // display: flex;
//   margin-left: 93px;
// }

// .nav__item:not(:last-child) {
//   margin-right: 50px;
// }

// .nav__link {
//   display: block;
//   padding-top: 32px;
//   padding-bottom: 32px;

//   font-weight: 500;
//   font-size: 14px;
//   line-height: 1.14;
//   letter-spacing: 0.02em;
//   color: $mainTxtColor;
//   text-decoration: none;

//   transition: color $durationTime $timingFunction;

//   &:hover,
//   &:focus {
//     color: $accentColor;
//   }
// }

// .nav__link--current {
//   color: $accentColor;
//   position: relative;

//   &::after {
//     content: '';
//     position: absolute;
//     left: 0;
//     bottom: -1px;
//     width: 100%;
//     height: 4px;
//     background-color: $accentColor;
//     border-radius: 2px;
//   }
// }
