.nav {
  @media screen and (min-width: 768px) {
    display: flex;
    margin-left: 88px;
  }
}

.nav__item:not(:last-child) {
  margin-bottom: 20px;

  @media screen and (min-width: 480px) {
    margin-bottom: 32px;
  }

  @media screen and (min-width: 768px) {
    margin-bottom: 0;
    margin-right: 50px;
  }
}

.nav__link {
  display: inline-block;

  font-weight: 500;
  font-size: 24px;
  line-height: 1.17;
  letter-spacing: 0.02em;
  color: $mainTxtColor;

  text-decoration: none;

  @media screen and (min-width: 480px) {
    font-size: 40px;
  }

  @media screen and (min-width: 768px) {
    padding-top: 32px;
    padding-bottom: 32px;
    font-size: 14px;
    line-height: 1.14;

    transition: color $durationTime $timingFunction;

    &:hover,
    &:focus {
      color: $accentColor;
    }
  }
}

.nav__link--current {
  color: $accentColor;

  @media screen and (min-width: 768px) {
    position: relative;

    &::after {
      content: '';
      position: absolute;
      left: 0;
      bottom: -1px;
      width: 100%;
      height: 4px;
      background-color: $accentColor;
      border-radius: 2px;
    }
  }
}
