$accentColor: #2196f3;
$mainTxtColor: #212121;
$secondaryTxtColor: #757575;
$contrastTxtColor: #ffffff;
$mainTitleColor: #212121;
$btnHoverColor: #188ce8;
$bgColor: #ffffff;
$iconFill: #afb1b8;
$durationTime: 250ms;
$timingFunction: cubic-bezier(0.4, 0, 0.2, 1);
