.services {
  padding-top: 0;

  &__title {
    margin-bottom: 50px;
  }

  &__list {
    display: flex;
  }

  &__name {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 70px;
    padding-top: 27px;
    padding-bottom: 27px;

    color: $contrastTxtColor;
    background-color: rgba(47, 48, 58, 0.8);

    font-weight: bold;
    font-size: 14px;
    line-height: 1.14;
    text-align: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;
  }

  @media screen and (max-width: 1199px) {
    display: none;
  }
}

.services__item {
  position: relative;

  &:not(:last-child) {
    margin-right: 30px;
  }
}
